
<!DOCTYPE html>
<html>
<head>
	<title>product section</title>
	<link rel="stylesheet" type="text/css" href="../static/items.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="js/caroufredsel.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<nav>
					<ul>
						<li><a href="" class="btn btn-full">MEN</a></li>
						<li><a href="" class="btn btn-full">WOMEN</a></li>
						<li><a href="" class="btn btn-full">KIDS</a></li>
						<li><a href="" class="btn btn-full">HOME & LIVING</a></li>
					</ul>
				</nav>
			</div>
			<div class="row">
				{%for prod in productDetails%}

				<div class="col-md-3">
					<div class="product-top">
						<img src="{{url_for('static',filename = prod[4])}}" style="width:300px;height:300px;">
						<div>
							<h3>{{prod[2]}}</h3>
							<h3>brand:{{prod[3]}}</h3>
							<h3>{{prod[5]}}</h3>
							<h3>availability:{{prod[6]}}</h3>
							<h3>price:{{prod[7]}}</h3>
							<form method="post">
								<input type ="hidden" value="{{prod[2]}}" name = "prodName">
								<input type="submit" class="btn btn-success" value="BUY" name="submit" >
							</form>
						</div>
					</div>
				</div>
				{%endfor%}
					
			</div>

		</div>
		
		
		
	</header>
	
	<script type="js/main.js"></script>

</body> 
</html>